<div class="container">
  <h1>Add Property</h1>
  <b>Please enter all the field and procced</b>
<form #Form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Listing heading</label>
    <input type="text" class="form-control" #headingref="ngModel"   id="exampleInputEmail1" [(ngModel)]="heading" name="heading" aria-describedby="emailHelp" placeholder="Listing heading" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">loaction</label>
    <input type="text" class="form-control" #locationRef [(ngModel)]="location" name="location" id="exampleInputPassword1" placeholder="Listing location" required>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Rooms</label>
    <select class="form-control" id="exampleSelect1" [(ngModel)]="rooms" name="rooms">
      <option value="1">1</option>
      <option value="2">2</option>
      <option alue="3">3</option>
      <option alue="4">4</option>
      <option alue="5+">5+</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleSelect2">Bathrooms</label>
    <select  class="form-control" id="exampleSelect2"  [(ngModel)]="brooms" name="brooms" >
      <option value="1">1</option>
      <option value="2">2</option>
      <option alue="3+">3+</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Listing Description</label>
    <textarea class="form-control" #DesRef id="exampleTextarea" rows="4" [(ngModel)]="description" name="description" required ></textarea >
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Image 1</label>
    <input type="file" #fileupload [(ngModel)]="image" name="image" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" (change)="fileChange($event)" required>
   
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Image 2</label>
    <input type="file" #fileupload [(ngModel)]="image1" name="image" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" (change)="fileChange1($event)" required>
   
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Image 3</label>
    <input type="file" #fileupload [(ngModel)]="image2" name="image" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" (change)="fileChange2($event)" required>
   
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Image 4</label>
    <input type="file" #fileupload [(ngModel)]="image3" name="image" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" (change)="fileChange3($event)" required>
   
  </div>
  <button type="submit" class="btn btn-primary btn-block" [hidden]="!Form.valid">Submit</button>
</form>
</div>