<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand text-white" (click)="home()">RentMyHome</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active" *ngIf ="isAuthenticated">
                        <a class="btn btn-secondary" style="margin-right:5px;" [routerLink]="['dasboard']">DashBoard</a>
                    </li>
                    <li class="nav-item active" *ngIf ="isAuthenticated">
                        <a class="btn btn-secondary" style="margin-right:5px;" (click)="logout()">logout</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-success" style="margin-right:5px;" [routerLink]="['Signup']" *ngIf ="!isAuthenticated">List Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info"  [routerLink]="['Signin']"*ngIf ="!isAuthenticated">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
