<!-- Page Content -->
 <div class="container-fluid" id="container">
<h1 class="my-4">Your Listings</h1> <a   (click)="addP()" class="btn btn-success">Add Property</a><hr>
      <div class="row">

      
        <div class="col-md-6">

          

            <div class="page">
    <div class="image">
      <img src="https://net.trusted.ru/static/images/login/security/main-baner.png" />
    </div>
    <div class="about">
		<div class="try">
            Try now
          </div>
      <div class="main">
        <div class="title">
          Authorization should be simple
        </div>
        <div class="description">
          <p>
            One connection you receive all set of control of authentication.
          </p>
          <p>
            For authentication reliability augmentation, you won't need upgrade of the website, it is rather simple to include desirable setup in control bars.
          </p>
        </div>
      </div>
      <div class="controls">
        <a href="https://twitter.com/a1ex_dev" target="_blank">
          
        </a>
      </div>
    </div>
  </div>

        </div>
		
     <div class="col-md-6">

          

            <div class="page">
    <div class="image">
      <img src="https://net.trusted.ru/static/images/login/security/main-baner.png" />
    </div>
    <div class="about">
		<div class="try">
            Try now
          </div>
      <div class="main">
        <div class="title">
          Authorization should be simple
        </div>
        <div class="description">
          <p>
            One connection you receive all set of control of authentication.
          </p>
          <p>
            For authentication reliability augmentation, you won't need upgrade of the website, it is rather simple to include desirable setup in control bars.
          </p>
        </div>
      </div>
      <div class="controls">
        <a href="https://twitter.com/a1ex_dev" target="_blank">
          
        </a>
      </div>
    </div>
  </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- /.container -->