#container {
    padding-top: 54px;
}

@media (min-width: 992px) {
    #container {
        padding-top: 56px;
    }
}
.page {
  border-radius: 8px;
  box-shadow: 0 9px 50px 4px rgba(0, 0, 0, 0.4);
  background: white;
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}
.page .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3f51b5;
  height: 100%;
  width: 50%;
}
.page .image img {
  width: 90%;
}
.page .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  max-width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page .about .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page .about .main .title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  padding: 16px 0 32px 0;
  font-weight: 400;
}
.page .about .main .description p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 16px;
}
.page .about .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.page .about .controls .try {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  color: #f4f5f7;
  background: #3f51b5;
}

@media only screen and (min-width: 1024px) {
  .page {
    max-width: 900px;
    max-height: 700px;
  }
}
@media only screen and (max-width: 480px) {
  .landing {
    background: #253B6E;
  }

  .main-title {
    font-size: 6vw;
    font-weight: 300;
    color: #f4f5f7;
  }

  .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page .image {
    padding-top: 8px;
    width: 100%;
    height: 20%;
  }
  .page .image img {
    height: 100%;
    width: initial;
  }
  .page .about {
    overflow-y: scroll;
    max-width: 100%;
  }
}