<!-- Carousel Slider -->
    <div id="carouselLogo" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">

        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" id="Cimg">

                <img class="d-block img-fluid" src="assets/imgs/background.jpeg" alt="First slide" >

            </div>
        </div>

    </div>
    <!-- Carousel Slider -->
    <section>
        <div class="container" align="center">
          <h3 class="display-4 text-center" style="padding:35px;margin-top:50px; margin-bottom:20px;">Pick your home away from home</h3>
          <hr class="bg-dark w-25">
       
        </div>
      </section>



      

