<!-- Carousel Slider -->
    <div id="carouselLogo" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">

        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" id="Cimg">

                <img class="d-block img-fluid" src="assets/imgs/background.jpeg" alt="First slide" >

            </div>
        </div>

    </div>
    <!-- Carousel Slider -->
    <section>
        <div class="container" align="center">
          <h3 class="display-4 text-center" style="padding:35px;margin-top:50px; margin-bottom:40px;">Search for your home away from home</h3>
          <hr class="bg-dark w-25">
          <div class="row" style="margin:30px;background:#f26f62;padding:20px; margin-bottom:70px;" >

              <form class="form-inline" align='center' style="text-align:center; " #yourForm="ngForm" (ngSubmit)="onSubmit()">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="e.g Pretoria"  [(ngModel)]="location" name="location">


               <label class="sr-only" for="rooms">Name</label>
               <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="rooms" [(ngModel)]="Rooms" name="Rooms">
                   <option value="1">Rooms</option>
                   <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                   <option value="4">4</option>
                   <option value="5+">5+</option>
               </select>

               <div class="form-group">
                <button type="submit" class="btn btn-primary form-control mb-2 mr-sm-2 mb-sm-0" type="margin-left:5px;">Submit</button>
              </div>
              </form>

          </div>
        </div>
      </section>



       <section id="contact" style="padding:35px; background:linear-gradient(rgba(48, 39, 40, 0.63), rgba(48, 39, 40, 0.63)) ,url('assets/imgs/howitworks.jpeg')" >
      <div class="container">
        <h3 class="display-4 text-center">How it works</h3>
        <hr class="bg-dark w-25">
          <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
              <div class="card border-0">
                 <div class="card-body text-center">
                   <i class="fa fa-bed fa-5x mb-3" aria-hidden="true"></i>
                   <h4 class="text-uppercase mb-5">Pick Home</h4>

                 </div>
               </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
              <div class="card border-0">
                 <div class="card-body text-center">
                   <i class="fa fa-exchange fa-5x mb-3" aria-hidden="true"></i>
                   <h4 class="text-uppercase mb-5">Comunicate with landlord</h4>

                 </div>
               </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
              <div class="card border-0">
                 <div class="card-body text-center">
                   <i class="fa fa-dollar fa-5x mb-3" aria-hidden="true"></i>
                   <h4 class="text-uppercase mb-5">pay depost</h4>

                 </div>
               </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
              <div class="card border-0">
                 <div class="card-body text-center">
                   <i class="	fa fa-check fa-5x mb-3" aria-hidden="true"></i>
                   <h4 class="text-uppercase mb-5">Move in</h4>

                 </div>
               </div>
            </div>
          </div>
      </div>
   </section>

   <div class="container pb-4" style="padding:35px;margin-top:50px; margin-bottom:50px;">
          <h3 class="display-4 text-center">Important clients</h3>
          <hr class="bg-dark w-25">
          <div id="carouselLogo" class="carousel slide pt-3" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                      <ul class="list-inline row  mx-auto">
                          <li class="col-md-4"><img class="d-block img-fluid" src="http://brix.io/assets/img/logo-bootstrap.png" alt="First slide"></li>
                          <li class="col-md-4"><img class="d-block img-fluid" src="http://brix.io/assets/img/logo-bootstrap.png" alt="First slide"></li>
                          <li class="col-md-4"><img class="d-block img-fluid" src="http://brix.io/assets/img/logo-bootstrap.png" alt="First slide"></li>
                      </ul>
                  </div>
                  <div class="carousel-item">
                      <ul class="list-inline row  mx-auto">
                          <li class="col-md-4"><img class="d-block img-fluid" src="http://brix.io/assets/img/logo-bootstrap.png" alt="First slide"></li>
                          <li class="col-md-4"><img class="d-block img-fluid" src="http://brix.io/assets/img/logo-bootstrap.png" alt="First slide"></li>
                          <li class="col-md-4"><img class="d-block img-fluid" src="http://brix.io/assets/img/logo-bootstrap.png" alt="First slide"></li>
                      </ul>
                  </div>
                  <div class="carousel-item">
                      <ul class="list-inline row  mx-auto">
                          <li class="col-md-4"><img class="d-block img-fluid" src="http://brix.io/assets/img/logo-bootstrap.png" alt="First slide"></li>
                          <li class="col-md-4"><img class="d-block img-fluid" src="http://brix.io/assets/img/logo-bootstrap.png" alt="First slide"></li>
                          <li class="col-md-4"><img class="d-block img-fluid" src="http://brix.io/assets/img/logo-bootstrap.png" alt="First slide"></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
